<%- include('../includes/head.ejs') %>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (products.length > 0) {%>
        <ul>
            <% products.forEach(p => { %>
                <li><%= p.cartProductData.title %>(<%= p.qty %>)</li>
                <form action="/cart-delete-item" method="POST">
                    <input name="productId" type="hidden" value="<%= p.cartProductData.id %>">
                    <button class="btn-outline-danger">Delete</button>
                </form>
            <% }); %>
        </ul>
            <%}else{%>
        <h1>No Products in Cart</h1>
        <%}%>
    </main>
    <%- include('../includes/end.ejs') %>
