<%- include('../includes/head.ejs') %>
 
    <%- include('../includes/nav.ejs') %>
`     

      <main>
        
        </div>
        <div class="d-flex justify-content-center border:"> 
          <form action="/reset" method="POST">
            <% if(errorMessage) {%>
              <div class="toast-body">
                <%= errorMessage  %>
              </div>
              <%}%>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control required"  required id="email" name="email" >
              </div>
            </div>

           
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">         
            <button type="submit" class="btn btn-primary mb-2">Reset password</button>
          </form>
          <!-- <form action="/admin/Add-product" method="POST">
            <input type="text" name="title">
            <button type="submit">Add product</button>
        </form> -->
      </div>

     
      </main>

      <%- include('../includes/end.ejs') %>
