<%- include('../includes/head.ejs') %>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if (products.length > 0) {%>
        <ul>
            <% products.forEach(p => { %>
                <li><%= p.title %>(<%= p.cartItem.quantity %>)</li>
                <form action="/cart-delete-item" method="POST">
                    <input name="productId" type="hidden" value="<%= p.id %>">
                    <button class="btn-outline-danger">Delete</button>
                </form>
            <% }); %>
        </ul>
        <form action="/create-order" method="POST">
            <button class="btn-outline-success" type="submit">Order Now!</button>

        </form>
            <%}else{%>
        <h1>No Products in Cart</h1>
        <%}%>
    </main>
    <%- include('../includes/end.ejs') %>
